$primary: #1967AB;
$dark: #253f55;
$white: #fffef8;

// darkmode colors

$dm-bgc: #555555;
$dm-elements-bgc: #3e3e3e;
$dm-text: $white;

:root {
	--white: #fffef8;

	// --primary: #1967AB;
	// --primary-1: #253f55;
	// --primary-2: #1f3242;

	// --primary: hsl(208, 74%, 38%);
	// --primary--hover: hsl(208, 24%, 38%);
	// --primary--focus: hsl(208, 74%, 31%);
	// --primary--hover-focus: hsl(208, 24%, 31%);

	// --secondary: #5d4195;
	// --secondary--hover: hsl(260, 30%, 38%);
	// --secondary--focus: hsl(260, 39%, 31%);
	// --secondary--hover-focus: hsl(260, 30%, 31%);

	// --bgc: hsl(51, 100%, 99%);

	// --elements-bgc: hsl(51, 0%, 90%);
	// --elements-bgc--hover: hsl(51, 0%, 83%);
	// --elements-bgc--focus: hsl(51, 0%, 77%);
	// --elements-bgc--hover-focus: hsl(51, 0%, 70%);

	--shadow: 0 0 2px 1px #0003;

	--text: #404040;
	--counter-text: var(--white);


	--filler-1: #E1E1E1;
	--filler-2: #CFCFCF;
	--filler-2-translucent: #cfcfcf66;
	--filler-3: #FFFFFF;
	
	--primary-1: #F2C679;
	--primary-2: #E8A023;

	--gradient-1: #CFB486;
	--gradient-2: var(--primary-1);

	--bg-gradient: linear-gradient(18deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
}

.dark {
	// --bgc: #555555;

	// --elements-bgc: hsl(0, 0%, 24%);
	// --elements-bgc--hover: hsl(0, 0%, 30%);
	// --elements-bgc--focus: hsl(0, 0%, 36%);
	// --elements-bgc--hover-focus: hsl(0, 0%, 42%);
	
	--text:var(--white);
	--counter-text: #404040;

	--filler-1: #363636;
	--filler-2: #949494;
	--filler-2-translucent: #94949466;
	--filler-3: #FFFFFF;

	--primary-1: #583A94;
	--primary-2: #8E61E9;

	--gradient-1: #665784;
	--gradient-2: var(--primary-1);

	--bg-gradient: linear-gradient(18deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
}