$primary: #1967AB;
$dark: #253f55;
$white: #fffef8;

// darkmode colors

$dm-bgc: #555555;
$dm-elements-bgc: #3e3e3e;
$dm-text: $white;

:root {
	--white: #fffef8;
	--root-bg: var(--white);

	--shadow: 0 0 2px 1px #0003;

	--text: #404040;
	--counter-text: var(--white);


	--filler-1: #E1E1E1;
	--filler-2: #CFCFCF;
	--filler-2-translucent: #cfcfcf66;
	--filler-3: #FFFFFF;
	
	--primary-1: hsl(38, 82%, 71%);
	--primary-2: hsl(38, 50%, 60%);

	--gradient-1: #CFB486;
	--gradient-2: var(--primary-1);

	--bg-gradient: linear-gradient(18deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
}

.dark {	
	--root-bg: #555555;

	--text:var(--white);
	--counter-text: #404040;

	--filler-1: #363636;
	--filler-2: #949494;
	--filler-2-translucent: #94949466;
	--filler-3: #FFFFFF;

	--primary-1: #583A94;
	--primary-2: #8E61E9;

	--gradient-1: #665784;
	--gradient-2: var(--primary-1);

	--bg-gradient: linear-gradient(18deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
}